rs.initiate(
    {
        _id : "devRepl",
        members: [
          { _id : 0, host : "mgo0.dev.replicaset:27017" },
          { _id : 1, host : "mgo1.dev.replicaset:27017" },
          { _id : 2, host : "mgo2.dev.replicaset:27017" }
        ]
  }
)
